# Python bytecode files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.venv/
env/
.env/

# IDEs and editors
.vscode/
.idea/

# Flask specific
instance/
.flaskenv
*.db
*.sqlite3

# Logs
*.log

# Distribution / packaging
*.egg-info/
dist/
build/

# MacOS files (if you're on macOS)
.DS_Store

# Windows files (if you're on Windows)
Thumbs.db
